<div class="container">
  <div class="btn btn-secondary">
    <%= link_to "New Product", new_product_path %>
  </div>
  <table class="table">
    <thead class="table">
      <tr class="row">
        <td>#</td>
        <td>Images</td>
        <td>Tags</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr id="<%= product.id %>" class="row">
        <td><%= product.uuid %></td>
        <td><%= image_tag product.images[0].thumb.url, :size=> "300x300" %></td>
        <td><%= product.tag_list %></td>
        <td><%= link_to "Show", product_path(product) %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

