<div class="container">
  <%= form_for @product, :html => { :multipart => true }  do |p| %>
    <div class="form-group">
      <%= p.label "Upload Product Image" %>
      <%= p.file_field :images, multiple: true, class: "form-control-file" %>
    </div>
    <div class="form-group">
      <%= p.label "Add Tag" %>
      <%= p.text_field :tag_list, class: "form-control" %>
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
      <%= p.label "Sellable" %>
      <%= p.radio_button :sell_status, "Sellable", checked: "checked" %>

      <%= p.label "Reject" %>
      <%= p.radio_button :sell_status, "Reject"%>
    </div>
    <div>
      <%= p.submit %>
    </div>
  <% end %>
</div>